body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  margin: 20px;
}

h1 {
  color: #2c3e50;
}

canvas {
  width: 400px;
  height: 300px;
  margin: 20px auto;
  display: block;
}

#estadisticas {
  background: #ecf0f1;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
}
